a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
  cursor: pointer;

}

a:hover {
  text-decoration: underline
}

a:active {
  opacity: 0.6;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
}

/* ----header--- */
.sign-checker .header .right-label {
  color: #2B2B2B;
  font-weight: 900;
  font-size: 28px;
  padding-left: 5px;
}

.sign-checker .content-logo {
  margin: 26px 0;
}

.logo-with-text {
  padding-left: 100px;
}

.navbar ul {
  margin: auto;
}

.nav-list_item {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: auto;
}

/* ----content-custom--- */
.content-custom {
  background-color: #3080DE;
  color: #FFFFFF;
}

.content {
  padding: 80px 65px;
}

.content-label h1 {
  font-weight: 900;
  font-size: 50px;

}

.content-tex p {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.14;
  text-align: left;

}

.drag-drop {
  background: #F4F4F4;
  border: 1px dashed #4A90E2;
  color: #000000;
  border-radius: 8px;
  padding: 40px 0 90px;
}

.drop-text {
  color: #000000;
  padding-top: 27px;
}

.or-text {
  color: #4F4F4F;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Palanquin', sans-serif;
}


.btn-success {
  font-family: 'Poppins', sans-serif;
  width: 169px;
  height: 42px;
  background-color: #27AE60;
  color: #FFFFFF;
  transition: .25s all ease;
  border: none;
  margin-top: 16px;
  font-weight: 600;
  font-size: 13px;
}

/* ------- footer ----- */
.footer .container {
  padding-top: 50px;

}

.sign-checker .footer {
  text-align: center;
}

.list_item {
  font-weight: bold;
  font-size: 18px;
  color: #000000;

}

.item-icon {
  padding-bottom: 25px;
}



.list_item:nth-child(2) .item-icon {
  padding-bottom: 0;
}

@media (max-width: 1000px) {
  .list_item .item-text {
    width: 205px;
  }
}

*/
/* --- block-upload-progres ---*/


.upload-block_inner {
  padding-left: 70px;
}

.upload-block_inner-title {
  font-weight: bold;
  font-size: 28px;
  text-align-last: left;
  margin-bottom: 30px;
  padding-left: 40px;
}

.footer .block-upload-progres-title {
  text-align: left;
  margin-bottom: 20px;
}

.block-upload-finish {
  padding-left: 70px;
}

.block-progressbar {
  margin-left: 30px;
  flex-direction: column;


}

.block-progressbar-title {
  text-align: left;

}

.progressbar {
  margin: 10px 0 0 30px;
  width: 320px;
  height: 2px;
  background: silver;

}

.progressbar::before {
  content: "";
  display: block;
  width: 70%;
  height: 100%;
  background: #2D9CDB;
}

/*--- block-upload-finish ---*/
.block-upload-finish-nameFile {
  margin-left: 35px;
  font-family: 'Palanquin', sans-serif;
  font-size: 14px;
}

.block-upload-finish-delete {
  margin-left: 110px;
}

.download-attachment {
  margin-left: 45px;
}

.download-attachment-title {
  font-size: 7px;
  color: #828282;
  margin-bottom: 5px;
}

/*--- block-upload-finish-list ---*/
.block-upload-finish-list {

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.upload-list-item {
  margin-bottom: 16px;
}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin-top: 57px;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li {
  counter-increment: step-counter;
}

.footer .upload-list-item::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(200, 200, 200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 50%;
  margin-right: 15px;
}


.upload-list-item:active:before {
  background-color: #27AE60;
  transition: all 350ms;
}

/* ----footer--- */
footer .container {
  padding-left: 85px;
}

footer span {
  font-weight: normal;
  font-size: 16px;
  padding: 50px 0 24px;
}